.login-popup{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-container{
  place-self: center;
  width: max(25vw,350px);
  color:  #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 15px;
  animation: fadeIn 0.5s;
  gap: 30px;
}
.login-popup-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--brown-color);
}
.login-popup-title{
  font-size: 18px;
}
.login-popup-title img{
  width: 17px;
  cursor: pointer;
}
.login-popup-inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input{
  outline: none;
  border: 1px solid var(--brown-color);
  padding: 10px;
  border-radius: 5px;
  color: var(--brown-color);
  font-size: 15px;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--brown-color);
  font-size: 17px;
  cursor: pointer;
}
.login-popup-condition{
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -18px;
  
}
.login-popup-condition input{
  margin-top: 5px;
  cursor: pointer;
}
.login-popup p span{
  color: var(--brown-color);
  font-weight: 500;
  cursor: pointer;
}