.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  height: 95px;
  width: 95px;
  border-radius: 50%;
}
.navbar .profile{
  width: 50px;
}